<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<!-- Nommage des servlets -->
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>projetTest.servlets.ConnexionServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CreationClient</servlet-name>
		<servlet-class>projetTest.servlets.CreationClientServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CreationProduit</servlet-name>
		<servlet-class>projetTest.servlets.CreationProduitServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Recherche</servlet-name>
		<servlet-class>projetTest.servlets.RechercherProduitServlet</servlet-class>
	</servlet>
	
	
	<servlet>
		<servlet-name>RechercheClient</servlet-name>
		<servlet-class>projetTest.servlets.RechercherClientServlet</servlet-class>
	</servlet>




	<!-- Mapping des servlets -->
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CreationClient</servlet-name>
		<url-pattern>/creationClient</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CreationProduit</servlet-name>
		<url-pattern>/creationProduit</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Recherche</servlet-name>
		<url-pattern>/recherche</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RechercheClient</servlet-name>
		<url-pattern>/rechercheClient</url-pattern>
	</servlet-mapping>



</web-app>